<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgrlWL95xIDDyiBWPYlCy8L-NUfL6FuHw</string>
	<key>GCM_SENDER_ID</key>
	<string>87596107949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solisakane.--PRODUCT-NAME-rfc1034identifier-</string>
	<key>PROJECT_ID</key>
	<string>call-a6abd</string>
	<key>STORAGE_BUCKET</key>
	<string>call-a6abd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87596107949:ios:6e5616d40c6aecec9c9e24</string>
</dict>
</plist>